/* ===============================================

* Sprint: 6
 * @author: Alexander Mayer
 * Datum: 23.06.2015
 * User Story (Nr.: 370b) Als Entwickler möchte ich die Teile aus den vorigen Sprints nachbessern (8 Punkte).
 * Zeit insgesamt: 2h

 * Sprint: 6
 * @author: Damian Wysocki
 * Datum: 12.06.2015
 * User Story (Nr.: 550) Als Mitarbeiter möchte ich div. Nutzer anlegen können (8).
 * Zeit insgesamt: 10
 
 * ===============================================*/
/* 
 * ===============================================
 * Sprint: 4
 * @author: Kilian Kraus
 * Datum: 15.05.2015
 * Zeitaufwand (in Stunden): 2.0
 * User Story Nr.: 370
 * User Story: Als Entwickler möchte ich die Teile aus den vorigen Sprints nachbessern.
 * Task:  css verbessert. views angepasst. 
 * ===============================================*/


thml {
	font-size: 100%;
	font-family: Verdana, sans-serif;	
	
}

body{
	width: 1250px;
	margin: 0 auto;
	margin-top: 5px;
	font-size: 100%;
	font-family: Arial, sans-serif;
    background: #79C5FF;
}

/*header*/
header{
	height: 50px;
	background: #003D6B; 
	background: linear-gradient(top, #A9DFFF 0%, #003D6B 100%);  
	background: -moz-linear-gradient(top, #A9DFFF 0%, #003D6B 100%); 
	background: -webkit-linear-gradient(top, #A9DFFF 0%,#003D6B 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
	color: #00436A;
	border-radius: 10px;  
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

section{
	background: white;
}
	


.response   {	
	padding:20px;
	border-radius: 10px;  
	box-shadow: 0px 0px 9px rgba(0,0,0,0.50);
	margin-bottom: 5px;
	font-weight: bold;
	color: black;
}

#positiv{
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #8AE65C 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #8AE65C 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#8AE65C 100%); 
	
	}
	
#negative{
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #DE5959 50%);  
	background: -moz-linear-gradient(top, #efefef 0%, #DE5959 50%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#DE5959 50%); 
	}
	
#warning{
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #FF6600 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #FF6600 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#FF6600 100%); }
	

.button {

	cursor: pointer;
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #A9DFFF 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #A9DFFF 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#A9DFFF 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.50);
	border:none;
	padding: 2px 5px 2px 5px;
	border-radius: 7px;
	color: #00436A;
	font-weight:bold;
}

.button:hover {
color: #A9DFFF;
background: #00436A;
		background: linear-gradient(top, #efefef 0%, #00436A 20%);
		background: -moz-linear-gradient(top, #efefef 0%, #00436A 20%);
		background: -webkit-linear-gradient(top, #efefef 0%,#00436A 20%);
}


 
article{
	background: white;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;  
	box-shadow: 0px 0px 9px rgba(0,0,0,0.50);
	margin-bottom:5px;
}

h1{
	padding-bottom: 5px;
	border-bottom: 2px solid #003D6B;
}

h2,  h3{
	padding-bottom: 5px;
}

/*login*/
nav  ul #login{  
margin-right:10px;
margin-left:10px;
float: right;
width:auto;
}

nav  li #login{
margin-right:10px;
margin-left:10px;
float: right;
width:auto;
}

nav #login {
margin-right:10px;
margin-left:10px;
float: right;
width:auto;
}

nav #login-trigger,
nav #signup a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  
		color: #00436A; text-decoration: none;
		font-weight: bold;
}

nav #signup a {
  
}

nav #login-trigger {

}

nav #login-trigger:hover,
nav #login .active,
nav #signup a:hover {
  background: #fff;
}

nav #login-content {
  display: none;
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 999;    
  background: #fff;
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 5px 5px 5px 5px;
}

nav li #login-content {
  right: 0;
  width: 300px;  
}

/*--------------------*/

#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#login #actions {
  margin: 10px 0 0 0;
}

#login #submit {    
  background-color: #d14545;
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}

#login #submit:hover,
#login #submit:focus {    
  background-color: #e97171;
  background-image: linear-gradient(top, #d14545, #e97171);
} 

#login #submit:active {   
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  float: right;
  line-height: 30px;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}

/*navigation*/
nav ul ul{
text-transform: capitalize;
	list-style-type: none;
	display: none;
}

ul li:hover > ul{
	display: block;
}

nav ul {
text-transform: capitalize;
	width:100%;
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #A9DFFF 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #A9DFFF 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#A9DFFF 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.50);
	padding:  0px ;
	margin: 0px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after {
		content: ""; clear: both; display: block; 
}

nav ul li {
	float: left;
	
}

nav ul li:hover {
		background: #00436A;
		background: linear-gradient(top, #efefef 0%, #00436A 20%);
		background: -moz-linear-gradient(top, #efefef 0%, #00436A 20%);
		background: -webkit-linear-gradient(top, #efefef 0%,#00436A 20%);
		
}
	
nav ul li:hover a {
		color: #A9DFFF;
}
	
nav ul li a {
		display: block; padding: 15px 15px;
		color: #00436A; text-decoration: none;
		font-weight: bold;
}

nav ul ul {
	width: auto;	
	background: #00436A; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;

}

nav ul ul li {
		float: none; 
		border-top: 1px solid #A9DFFF;
		border-bottom: 1px solid #A9DFFF;
		position: relative;
}

nav ul ul li a {
			padding: 15px 20px;
			color: #003D6B;
}	

nav ul ul li a:hover {
		background: #00436A;
		background: linear-gradient(top, #efefef 0%, #00436A 20%);
		background: -moz-linear-gradient(top, #efefef 0%, #00436A 20%);
		background: -webkit-linear-gradient(top, #efefef 0%,#00436A 20%);
}

thead td{
color: #A9DFFF;
background: #00436A;
		background: linear-gradient(top, #efefef 0%, #00436A 20%);
		background: -moz-linear-gradient(top, #efefef 0%, #00436A 20%);
		background: -webkit-linear-gradient(top, #efefef 0%,#00436A 20%);

	box-shadow: 0px 0px 9px rgba(0,0,0,0.50);
	border:none;
	padding: 2px 5px 2px 5px;
	border-radius: 7px;
	
	font-weight:bold;}
/*footer*/
footer{

	background: #003D6B; 
	background: linear-gradient(top, #A9DFFF 0%, #003D6B 100%);  
	background: -moz-linear-gradient(top, #A9DFFF 0%, #003D6B 100%); 
	background: -webkit-linear-gradient(top, #A9DFFF 0%,#003D6B 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
	color: #00436A;
	border-radius: 10px;  
	text-align: center;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

footer a{
	color: white;
}

/**-----------------------------------------------------------------------------------------
	* START SPRINT 06
	* @author: Damian Wysocki
	* User Story (Nr.: 550)  Als Mitarbeiter möchte ich div. Nutzer anlegen können 
	* Task: 550/01  Beschreibung: Maske zum Anlegen eines Studenten
	* Zeitaufwand (in Stunden): 2
	* START SPRINT 06	
	*/

	/** Form Styles **/	

form{

font-size: 75%;
    color: #222;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

	/** Field Styles **/

form field {
    padding-bottom: 12px;
    padding-top: 12px;
    position: relative;
    clear: both;
}

 input,
 input:focus, 
 select:focus {
    -webkit-box-shadow: 0px 0px 5px #bfdeff;
    -moz-box-shadow: 0px 0px 5px #bfdeff;
    box-shadow: 0px 0px 5px #bfdeff;
}

input[type=radio], 
input[type=checkbox] {
    width: 12px;
    margin: 8px 12px;
    top: 3px;
    position: relative;
}

option {
    margin: 6px 0;
}

 select {
    padding: 6px 6px;
}

label {
    color: #666;
    text-align: left;
    font: 16px/24px Helvetica Neue, "Arial", Helvetica, Verdana, sans-serif;
}

	 /** ENDE SPRINT 06
		* @author: Damian Wysocki
		* User Story (Nr.: 550)  Als Mitarbeiter möchte ich div. Nutzer anlegen können 
		* Task: 550/01  Beschreibung: Maske zum Anlegen eines Studenten
		* Zeitaufwand (in Stunden): 2
		* ENDE SPRINT 06
	**-----------------------------------------------------------------------------------------*/	


/* START Sprint 6 
 * @author: Alexander Mayer
 * Datum: 23.06.2015
 * User Story (Nr.: 370b) Als Entwickler möchte ich die Teile aus den vorigen Sprints nachbessern (8 Punkte).
 * Task: Design anpassen
 * Zeit insgesamt: 2h 
 * START Sprint 6*/
 
table.stundenplan {

	border: 1px solid #9F9F9F;
	border-collapse: collapse;
	height: 100%;
	width: 58em;
	margin-left: 20px;
}

table.stundenplan tr.head {

	color: #A9DFFF;
	background: #00436A;
	background: linear-gradient(top, #efefef 0%, #00436A 20%);
	background: -moz-linear-gradient(top, #efefef 0%, #00436A 20%);
	background: -webkit-linear-gradient(top, #efefef 0%,#00436A 20%);
	
	box-shadow: 0px 0px 9px rgba(0,0,0,0.50);
	border: none;
	padding: 2px 5px 2px 5px;
	border-radius: 7px;
	
	font-weight:bold;
}

table.stundenplan td.content {

	background: #A9DFFF;
}


form.formular {

	background: #A9DFFF;
	border: 1px solid silver;
}

div.flexbox {

	display: flex;
	flex-flow: row wrap;
}

.btnLink {

	cursor: pointer;
	padding: 0; 
	border: none; 
	color: blue;
	background: #A9DFFF;
}

.btnLink:hover {

	text-decoration: underline;
}

p.btn {
	
	text-align: center;
}
 
 
 /* ENDE Sprint 6 
 * @author: Alexander Mayer
 * Datum: 23.06.2015
 * User Story (Nr.: 370b) Als Entwickler möchte ich die Teile aus den vorigen Sprints nachbessern (8 Punkte).
 * Task: Design anpassen
 * Zeit insgesamt: 2h 
 * ENDE Sprint 6*/

