/* 
Gruppe:			1
Sprint:			3
Bemerkung		
User Story: 	        Als Entwickler möchte ich eine einheitliche Optik und einen einheitlichen Aufbau der Webseiten haben.
Task: 			
Autor: 			Renato Cabriolu
Datum:			21.04.2014
Gewichtung: 	13
Version : 		1.0
Zeitaufwand:            5h
*/

/*skizze starseite*/


thml {
	font-size: 100%;
	font-family: Verdana, sans-serif;	
}
body{
	margin-top: 5px;
	font-size: 14px;
	font-family: Arial, sans-serif;
    background: white;
}

/*breite*/
.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.wrapper header {
   margin-left: 20px;
}

.wrapper section {
	margin-left: 20px;
	margin-top: 0px;
}


	

/*header*/
.header {
	margin: 0 auto;
    background: black;
}

.header nav{
	list-style-type: none;
    float:right;
}

.header ul{
    text-align: center;
}

.header li{
    display: inline-block;
}
.header a {
	color: white;
	text-decoration: none;
}

/*menue unter header*/
.menue
{
	float: left;
	width: 100%; /* optionale Weitenangabe */
	background: #aaa;
}

.menue a {
	color: white;
	text-decoration: none;
}

.menue nav {
	list-style-type: none;
    float: left;
}

.menue ul{
	list-style-type: none;
    text-align: center; 
}

.menue li{
    display: inline-block;
	background: black;
}

.content {
	width: 100%;
}
/*content left = menue links*/
.content_left
{

	float: left;
	width: 15%; /* optionale Weitenangabe */
	background:#aaa ;
}

.content_left nav{
	list-style-type: none;
	text-decoration: none;
	text-align: left;
}

.content_left ul{
    text-align: left; 
}

.content_left li{
	text-align: left;
    display: inline-block;
}

.content_left a {
	color: white;
	text-decoration: none;
}

/*content right = inhalt*/
.content_right
{
	float:right;
	width: 85%; /* optionale Weitenangabe */
	margin-bottom: 10px;
}

/*footer*/
.footer
{
	float: right;
	width: 100%; /* optionale Weitenangabe */
	background: black;
	color: #aaa;
}

.footer section {
	text-align: center;
}

.response {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 10px;
}


